<div class="flex justify-between items-center w-full">
  <img [src]="'images/shared/logo.svg'" alt="logo" class="w-10 h-10" />

  @if (!isMenuOpen) {
  <img [src]="'images/shared/icon-hamburger.svg'" alt="menu" class="w-6 h-[21px] cursor-pointer" (click)="openMenu()" />
  }
</div>

<div
  class="flex fixed top-0 right-0 z-50 flex-col w-[255px] h-screen transition-transform duration-300 ease-in-out transform"
  [ngClass]="isMenuOpen ? 'translate-x-0' : 'translate-x-full'">
  <!-- Blur effect -->
  <div class="absolute inset-0 w-full h-full backdrop-blur-xl"></div>
  <!-- Content without blur -->
  <div class="relative pl-8">
    <img [src]="'images/shared/icon-close.svg'" alt="close" class="w-6 h-[21px] cursor-pointer fixed top-8 right-6 z-50"
      (click)="closeMenu()" />
    <!-- Navbar links -->
    <ul class="flex flex-col gap-8 text-white text-start mt-[135px]">
      @for (link of links; track link.href) {
      <li class="hover:border-r-white/50 hover:border-r-4"
        [ngClass]="isActive(link.href) ? 'border-r-white border-r-4' : ''">
        <a class="block w-full h-full font-barlow-condensed" [routerLink]="link.href">
          <span class="pr-3 tracking-[2.7px]">{{ link.number }}</span>
          <span class="uppercase text-white/70 tracking-[2px]">{{ link.label }}</span>
        </a>
      </li>
      }
    </ul>
  </div>
</div>